@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  @apply bg-background text-white;
}

.hidden-scrollbar::-webkit-scrollbar {
  @apply hidden;
}

.label-style {
  @apply mb-1 block;
}

.input-style {
  @apply w-full h-14 px-5 bg-transparent border border-secondary rounded-lg text-white placeholder:text-neutral-300;
}

.textarea-style {
  @apply w-full p-5 bg-neutral-700 rounded-lg text-white placeholder:text-neutral-300;
}

input[type="date"] {
  position: relative;
}

input[type="date"]::-webkit-calendar-picker-indicator,
input[type="datetime-local"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 1;
  appearance: none;
}

input[type="date"]:after,
input[type="datetime-local"]:after {
  content: "";
  position: absolute;
  right: 10px;
  width: 24px;
  height: 24px;
  filter: invert(1);
  pointer-events: none;
}
